*,
*:focus,
*:active {
  outline: none; }

.hide-title {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden; }

.relative {
  position: relative; }

body.home {
  height: 100vh; }

#section1 {
  background: url(../images/slide.jpg) no-repeat !important; }

#section2 {
  background: url(../images/slide2.jpg) no-repeat !important; }

#section3 .bg-block:first-child {
  background: url(../images/slide3.jpg) no-repeat !important; }

#section3 .bg-block:last-child {
  background: url(../images/slide4.jpg) no-repeat !important; }

#section3 .bg-block:first-child,
#section3 .bg-block:last-child {
  height: 100vh;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center center !important; }

#pagepiling .section {
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center center !important; }

.home-slider {
  max-width: 1920px !important;
  height: 100vh;
  width: 100%; }
  .home-slider .item {
    height: 100vh; }

.home-slider-walp .arr-slider {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 89;
  bottom: 100px;
  right: 0; }
  .home-slider-walp .arr-slider li {
    list-style: none;
    display: inline-block; }
    .home-slider-walp .arr-slider li a {
      padding: 20px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .home-slider-walp .arr-slider li a:hover {
      opacity: .5; }
    .home-slider-walp .arr-slider li .prev img {
      -webkit-transform: rotateZ(180deg);
          -ms-transform: rotate(180deg);
              transform: rotateZ(180deg); }

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99; }
  header .top-bar {
    padding: 60px 0; }
    header .top-bar .switcher-lang {
      margin: 0;
      padding: 0;
      color: #fff; }
      header .top-bar .switcher-lang li {
        display: inline-block; }
        header .top-bar .switcher-lang li a {
          text-transform: uppercase;
          font-size: 18px;
          font-family: "Calibri Regualar";
          color: #fff; }
        header .top-bar .switcher-lang li a.active {
          color: #c4a669; }
  header .menu-link {
    position: absolute;
    top: 36px;
    left: 44px;
    padding: 20px;
    outline: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    header .menu-link i {
      font-size: 23px;
      color: #c4a669; }
    header .menu-link:hover {
      opacity: .5; }
