//
// Home page
//
body.home
  height: 100vh

#section1
  background: url(../images/slide.jpg) no-repeat!important


#section2
  background: url(../images/slide2.jpg) no-repeat!important

#section3
  .bg-block:first-child
    background: url(../images/slide3.jpg) no-repeat!important
  .bg-block:last-child
    background: url(../images/slide4.jpg) no-repeat!important
  .bg-block:first-child,
  .bg-block:last-child
    height: 100vh
    background-size: cover!important
    background-position: center center!important
    display: table

#pagepiling
  .section
    background-size: cover!important
    background-position: bottom center!important


.third-blocks
  display: table-cell
  vertical-align: middle
  text-align: center
  h2
    font-family: $font_blacked_bold
    font-size: 60px
    color: #000
    margin: 0 0 100px
    height: 132px


  >div
    width: 181px
    text-align: left
    margin: 0 auto



//
// Home slider
//
.home-slider
  max-width: 1920px!important
  height: 100vh
  width: 100%
  .item
    height: 100vh
.home-slider-walp
  .arr-slider
    margin: 0
    padding: 0
    position: absolute
    z-index: 89
    bottom: 100px
    right: 0
    li
      list-style: none
      display: inline-block
      a
        padding: 20px
        transition: all .3s
      a:hover
        opacity: .5

      .prev
        img
          transform: rotateZ(180deg)
  .content-slider
    position: absolute
    bottom: 95px

    .second-block,
    .first-block
      display: inline-block
      width: 41%
      padding-right: 9%

      h3
        font-size: 21px
        color: $main_color
        font-family: $font_blacked_bold
        margin-top: 0
        margin-bottom: 20px

      .text
        font-size: 18px
        color: #fff
        font-family: $font_calibri_light

//
//  Full page scroller
//
#pp-nav span,
.pp-slidesNav span
  border-color: #fff!important

#pp-nav li .active span,
.pp-slidesNav .active span
  background: #fff!important

.black #pp-nav span,
.black .pp-slidesNav span
  border-color: #000!important

.black #pp-nav li .active span,
.black .pp-slidesNav .active span
  background: #000!important



//
// Contacts
//
#map
  width: 100%
  height: 100vh
.first-wrap
  position: absolute
  width: 100%
  height: 100vh
  top: 0
  left: 0
  display: table
  .vertical-align
    vertical-align: middle
    display: table-cell


  .list-contact-informaion
    margin: 80px 0 0 0
    padding: 0
    li
      list-style: none
      margin-bottom: 25px
      a
        text-decoration: none
        display: block
        .img
          width: 30px
          display: inline-block
          margin-right: 15px
        p
          display: inline-block
          margin: 0
          font-family: $font_calibri_light
          font-size: 21px
          color: #000
  .link.feedback
    letter-spacing: 2px
    font-family: $font_calibri_regular
    font-size: 18px
    color: #fff
    background-color: $main_color
    display: inline-block
    border-radius: 5px
    padding: 13px 40px
    margin-top: 60px
    transition: all .3s
    &:hover
      background-color: #000
      text-decoration: none



.page-template-page-contacts
  .switcher-lang
    color: #000!important
    a
      color: #000!important
    a.active
      color: $main_color!important


.site-content
  position: relative
  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    width: 195px
    height: 100vh
    background: url("../images/right-bg.png") no-repeat!important
    background-position: center center!important

