$font_blacked_bold: 'Blacker-Text-Bold'
$font_blacked_italic_bold: 'Blacker-Text-Bold-Italic'

$font_blacked_book_bold: 'Blacker-Text-Book'
$font_blacked_book__italic_bold: 'Blacker-Text-Book-Italic'

$font_calibri_regular: 'Calibri Regualar'
$font_calibri_bold: 'Calibri Bold'
$font_calibri_light: 'Calibri Light'
$main_color: #c4a669


*,
*:focus,
*:active
  outline: none
  line-height: 1.5


.hide-title
  margin: 0
  padding: 0
  height: 0
  overflow: hidden

.relative
  position: relative

.relative-slider
  position: relative
  height: 100vh

.two-type-link,
.one-type-link
  font-family: $font_calibri_regular
  font-size: 20px
  color: #fff
  text-transform: uppercase
  display: table
  margin: 0 auto
  padding: 10px 32px
  border-radius: 5px
  letter-spacing: 2px
  outline: none
  transition: all .3s

.one-type-link
  background-color: $main_color

  &:hover
    text-decoration: none
    background-color: #000
    color: #fff

.two-type-link
  background-color: #000
  margin: 0
  padding: 14px 55px

  &:hover
    text-decoration: none
    background-color: $main_color
    color: #fff

.center-flex
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: nowrap
  -ms-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-align-content: stretch
  -ms-flex-line-pack: stretch
  align-content: stretch
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center


.menu-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .7)
  opacity: 0
  transition: all .4s ease-in
  visibility: hidden
  z-index: 90

  &.active
    opacity: 1
    visibility: visible


.page-title
  font-size: 33px
  color: #000
  font-family: $font_blacked_bold
  margin-top: 0

.page-template-page-contacts
  .site-content
    height: 100vh

.page-template-page-atmosfera
  overflow-y: hidden

#pagepiling .section
  height: 100vh

@import "main.sass"
@import "header.sass"
@import "footer.sass"


@media(max-width: 1368px)
  header .menu-link
    top: 40px
  .top-main-container
    padding-top: 25px
  .home-slider-walp .arr-slider
    right: 0
  .home-slider
    max-width: 1368px !important

  .logo
    margin-top: 30px
    display: block

    img
      height: 130px

  .top-main-container li a
    font-size: 15px
  .menu-bar
    width: 300px
  .first-wrap .list-contact-informaion
    margin-top: 25px
  .first-wrap .link.feedback
    margin-top: 20px

  .first-wrap .list-contact-informaion li
    margin-bottom: 15px